<div ng-show="storyLoading" class="mdl-cell mdl-cell--11-col mdl-cell--10-col-tablet" style="margin-top:200px;">
	<center>
		<div class="mdl-spinner mdl-js-spinner is-active" style="margin-top:250px"></div>
	</center>
</div>

	<div ng-hide="storyLoading" class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">

		<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

			<h1>{{ story.title }}</h1>
			<p ng-bind-html="story.content"> </p>


			<a ng-hide="loved" ng-click="$event.preventDefault(); love(story.id)" href=""  class="text-muted"><span class="fa fa-heart-o fa-3x"></span></a>

			<span class="fa fa-heart fa-3x" ng-show="loved"></span>

			
		</div>


	</div>

