
<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet"></div>

<div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet" ng-show="loadStories">
		<center>
			<div class="mdl-spinner mdl-js-spinner is-active" style="margin-top:250px"></div>
		</center>
</div>

<div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet" ng-hide="loadStories">
	<h3>Your Stories</h3>

	<table class="mdl-data-table mdl-js-data-table">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Title</th>
	      <th>Status</th>
	      <th>Created at</th>
	      <th colspan="3">
	      	<center>Options</center>
	      </th>
	    </tr>
	  </thead>
	  <tbody>

	    <tr ng-repeat="story in stories">
	      <td class="mdl-data-table__cell--non-numeric">{{ story.title }}</td>
	      <td>{{ story.status }}</td>
	      <td>{{ story.created_at }}</td>
	      <td ng-if="story.status  == 'draft'">
	      		<button ng-click="publishStory(story.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Publish</button>
	      		<a href="#edit/story/{{ story.id }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edit</a>
	      </td>
	      <td ng-if="story.status  == 'published'">
	      		<a href="#edit/story/{{ story.id }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edit</a>
	      </td>
	      <td>
	      		<button ng-click="trashStory(story.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Move to Trash</button>
	      </td>
	    </tr>

	  </tbody>
	</table>

</div>
